@import "tailwindcss";

.hide-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; 
}

.text-bmkg-blue {
  color: #007baf; 
}


.leaflet-popup-content-wrapper {
  background: transparent !important;
  box-shadow: none !important;
  border-radius: 0 !important;
  padding: 0 !important;
}

.leaflet-popup-content {
  margin: 0 !important;
}

.leaflet-popup-tip {
  display: none !important; 
}



@keyframes pulse-glow {
  0% {
    box-shadow: 0 0 0 0 rgba(37, 99, 235, 0.6);
  }
  50% {
    box-shadow: 0 0 25px 10px rgba(37, 99, 235, 0.3);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(37, 99, 235, 0.6);
  }
}

.animate-pulse-glow {
  animation: pulse-glow 1.8s ease-in-out infinite;
}

/* Animasi Running Text */
@keyframes marquee {
  0% { transform: translateX(10%); }
  100% { transform: translateX(-100%); }
}

.animate-marquee {
  animation: marquee 2s linear infinite;
}


::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f5f9; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8; 
}

