name: Deploy via Self-Hosted Runner

on:
  push:
    branches: [ "main" ] # Pastikan branch Anda 'main' atau 'master'

# Variabel Global biar gampang ganti nama
env:
  IMAGE_NAME: ${{ secrets.DOCKER_USERNAME }}/bmkg-samarinda:latest
  CONTAINER_NAME: bmkg-samarinda
  # Pastikan path ini BENAR ada di server Anda
  ENV_PATH: /www/wwwroot/bmkg-samarinda/.env 

jobs:
  # TAHAP 1: BUILD (Dikerjakan oleh GitHub Public Server)
  # Alasannya: Hemat resource VPS Anda. Biar GitHub yang capek build.
  build_and_push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Login ke Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & Push Image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ env.IMAGE_NAME }}

  # TAHAP 2: DEPLOY (Dikerjakan oleh Agen di VPS Anda)
  # Alasannya: Agen ini ada di DALAM VPN, jadi dia bisa akses Docker lokal.
  deploy_local:
    needs: build_and_push  # Tunggu tahap 1 selesai baru jalan
    runs-on: self-hosted   # <--- INI KUNCI SUKSESNYA (Pakai Runner Anda)
    
    steps:
      - name: Login Docker di Local
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Tarik Image Terbaru
        run: docker pull ${{ env.IMAGE_NAME }}

      - name: Hapus Container Lama
        run: |
          docker stop ${{ env.CONTAINER_NAME }} || true
          docker rm ${{ env.CONTAINER_NAME }} || true

      - name: Jalankan Container Baru
        run: |
          docker run -d \
            -p 3000:3000 \
            --name ${{ env.CONTAINER_NAME }} \
            --restart always \
            -v ${{ env.ENV_PATH }}:/app/.env \
            ${{ env.IMAGE_NAME }}

      - name: Update Database (Prisma)
        run: docker exec -e HOME=/tmp ${{ env.CONTAINER_NAME }} npx prisma@5.22.0 db push --skip-generate

      - name: Bersih-bersih Image Sampah
        run: docker image prune -f