name: Deploy via Self-Hosted

on:
  push:
    branches: [ "main" ]

jobs:
  # TAHAP 1: Build Image (Dikerjakan oleh GitHub Public Server)
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and Push
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/bmkg-samarinda:latest

  # TAHAP 2: Deploy (Dikerjakan oleh VPS Anda Sendiri)
  deploy:
    needs: build             
    runs-on: self-hosted    
    
    steps:
      - name: Pull and Restart Container
        run: |
        
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

          docker pull ${{ secrets.DOCKER_USERNAME }}/bmkg-samarinda:latest
          
          docker stop bmkg-samarinda || true
          docker rm bmkg-samarinda || true
          
          docker run -d \
            -p 3000:3000 \
            --name bmkg-samarinda \
            --restart always \
            -v /www/wwwroot/bmkg-samarinda/.env:/app/.env \
            ${{ secrets.DOCKER_USERNAME }}/bmkg-samarinda:latest
            
          docker image prune -f