name: Deploy via Self-Hosted Runner

on:
  push:
    branches: [ "main" ] 

# Variabel Global 
env:
  IMAGE_NAME: ${{ secrets.DOCKER_USERNAME }}/bmkg-samarinda:latest
  CONTAINER_NAME: bmkg-samarinda
  ENV_PATH: /www/wwwroot/bmkg-samarinda/.env 

jobs:
  # TAHAP 1: BUILD 
  build_and_push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Login ke Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build & Push Image
        uses: docker/build-push-action@v4
        with:
          context: .
          push: true
          tags: ${{ env.IMAGE_NAME }}
          build-args: |
            NEXT_PUBLIC_SUPABASE_URL=${{ secrets.NEXT_PUBLIC_SUPABASE_URL }}
            NEXT_PUBLIC_SUPABASE_ANON_KEY=${{ secrets.NEXT_PUBLIC_SUPABASE_ANON_KEY }}

  # TAHAP 2: DEPLOY
  deploy_local:
    needs: build_and_push
    runs-on: self-hosted 
    
    steps:
      - name: Login Docker di Local
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Tarik Image Terbaru
        run: docker pull ${{ env.IMAGE_NAME }}

      - name: Hapus Container Lama
        run: |
          docker stop ${{ env.CONTAINER_NAME }} || true
          docker rm ${{ env.CONTAINER_NAME }} || true

      - name: Jalankan Container Baru
        run: |
          docker run -d \
            -p 3000:3000 \
            --name ${{ env.CONTAINER_NAME }} \
            --restart always \
            --env-file ${{ env.ENV_PATH }} \
            ${{ env.IMAGE_NAME }}

      - name: Update Database (Prisma)
        run: |
          # 1. Ambil DATABASE_URL dari file .env
          DB_URL=$(grep "^DATABASE_URL=" ${{ env.ENV_PATH }} | cut -d '=' -f2- | tr -d '"' | tr -d "'")
          
          # 2. Cek apakah URL berhasil diambil
          if [ -z "$DB_URL" ]; then
            echo "Error: DATABASE_URL tidak ditemukan di ${{ env.ENV_PATH }}"
            exit 1
          fi

          # 3. Jalankan Prisma
          docker exec -u 0 \
          -e DATABASE_URL="$DB_URL" \
          ${{ env.CONTAINER_NAME }} \
          npx prisma@5.22.0 db push --skip-generate
          
      - name: Bersih-bersih Image Sampah
        run: docker image prune -f